#body {
    background-color: #FFF5E4;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  }
  
  h3 {
  color: #850E35;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: italic;
  }

  p {
    text-align: center;
  }